[Unit]
Description=xremap service

[Service]
Restart=always
ExecStart=/home/makoto-kurihara/.local/bin/xremap /home/makoto-kurihara/.config/xremap/config.yml --watch=device
User=root
Group=root

[Install]
WantedBy=multi-user.target
